.main-layout {
  display: flex;
  min-height: 100vh;
  background-color: var(--content-bg);
}

.main-content {
  flex: 1;
  margin-left: 260px; // Largura da sidebar
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-area {
  flex: 1;
  padding: 2rem;
  overflow-x: hidden;
}

/* Responsividade */
@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }
  

}
