// src/app/componentes/modal-veiculo/modal-veiculo.scss
.modal-content {
  border-radius: 15px;
  overflow: hidden;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: 1px solid #dee2e6;
}

.text-uppercase {
  text-transform: uppercase;
}