// src/app/componentes/modal-venda/modal-venda.scss
.modal-content {
  border-radius: 15px;
  overflow: hidden;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: 1px solid #dee2e6;
}

.table-sm {
  font-size: 0.9rem;
  
  th, td {
    padding: 0.5rem;
    vertical-align: middle;
  }
}